@import './reset.css';
@import './fonts.css';
:root {
  --yellow: rgb(254, 215, 102);
  --yellow-700: #564922;
  --yellow-secondary: rgba(254, 215, 102, 0.5);
  --black: #141414;
  --black20: #202020;
  --black28: #282828;
  --blue-100: #c6cef2;
  --blue-150: #72bcd5;
  --blue-300: #63a0d7;
  --blue-500: #5386b1;
  --blue-600: #4358a7;
  --blue-700: #1c3667;
  --blue-800: #1a2e5a;
  --blue-900: #061123;
  --gray-800: #505050;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "LINE Seed Sans TH", sans-serif;
  background-color: #141414;
}

a {
  color: #5386b1;
  -webkit-tap-highlight-color: transparent;
}

footer {
  padding: 20px 0;
}
footer .footer__credits, footer .footer__copy {
  color: #c6cef2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 0.8rem;
}
footer .footer__credits span, footer .footer__copy span {
  margin: 0 5px;
  display: block;
}

.logo {
  position: fixed;
  padding: 24px 8px 8px 8px;
  background-color: #061123;
  left: 64px;
  cursor: pointer;
  border-radius: 0 0 12px 12px;
  transition-property: background-color, padding;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 100;
}
.logo.logo--partial-hidden {
  background-color: rgba(6, 17, 35, 0.7);
  padding: 8px;
}
.logo.logo--partial-hidden:hover {
  padding-top: 24px;
  background-color: #061123;
}
.logo:active {
  padding-top: 28px;
}

nav {
  z-index: 100000;
  border-radius: 12px;
  color: var(--yellow);
  border: 2px solid var(--yellow);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: var(--black20);
  padding: 4px;
  left: 50%;
  margin-bottom: 32px;
  transform: translateX(-50%);
  position: fixed;
  bottom: 0;
  display: flex;
}
nav a {
  text-decoration: none;
}
nav .nav-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  list-style: none;
  position: absolute;
  background-color: var(--black20);
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translate(-50%);
  max-width: 400px;
  width: 90vw;
  padding: 8px;
  display: block;
}
nav .nav-menu li {
  border: 4px solid transparent;
  border-radius: 8px;
  padding: 12px;
}
nav .nav-menu li a {
  color: var(--yellow);
}
nav .nav-menu li div {
  display: flex;
  align-items: center;
}
nav .nav-menu li div p {
  margin-left: 8px;
}
nav .nav-menu li:hover {
  transition: all ease 0.2s;
  border: 4px solid var(--yellow-secondary);
}
nav .nav-menu li:hover .menu-submenu li {
  border: 4px solid transparent;
}
nav .nav-menu .submenu-btn {
  border-radius: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}
nav .nav-menu .submenu-btn span:last-child {
  position: absolute;
  right: 16px;
}
nav .nav-menu .menu-submenu {
  overflow: hidden;
  border-radius: 12px;
  margin-top: 8px;
  border: 4px solid var(--yellow-secondary);
  background-color: var(--black28);
  list-style: none;
}
nav .nav-menu .menu-submenu li {
  display: flex;
  align-items: center;
}
nav .nav-menu .menu-submenu li p {
  padding-left: 8px;
}
nav .nav-toc {
  border-radius: 8px;
  border: 2px solid var(--yellow);
  margin-left: 4px;
  padding: 4px;
  position: relative;
  list-style: none;
  display: flex;
}
nav .nav-toc .li-selected {
  border-radius: 8px;
  position: absolute;
  height: 100%;
  background-color: var(--yellow-secondary);
  opacity: 0;
}
nav .nav-toc .active {
  opacity: 1;
}
nav .nav-toc a {
  position: relative;
  color: var(--yellow);
  padding: 8px;
  display: flex;
  align-items: center;
}
nav .nav-toc a .nav-li-icon {
  margin-right: 8px;
}
nav .nav-goup {
  margin-left: 4px;
}
nav button {
  border-radius: 8px;
  color: var(--yellow);
  background-color: var(--black28);
  border: 2px solid var(--yellow);
  display: flex;
  align-items: center;
  padding: 8px;
}
nav .nav--primary-btn:hover {
  color: var(--black20);
  background-color: var(--yellow);
}

@media screen and (max-width: 768px) {
  .logo {
    left: 50%;
    transform: translateX(-50%);
  }
  nav .nav-toc {
    display: none;
  }
  nav .nav-menu li {
    padding: 12px;
  }
}