@import './reset.css';
@import './fonts.css';
:root {
  --yellow: rgb(254, 215, 102);
  --yellow-secondary: rgba(254, 215, 102, 0.5);
  --black: #141414;
  --black20: #202020;
  --black28: #282828;
  --blue-100: #c6cef2;
  --blue-150: #72bcd5;
  --blue-300: #63a0d7;
  --blue-500: #5386b1;
  --blue-600: #4358a7;
  --blue-700: #1c3667;
  --blue-800: #1a2e5a;
  --blue-900: #061123;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'LineSeedSansTH', sans-serif;
  background-color: #141414;
}

a {
  color: #5386b1;
  -webkit-tap-highlight-color: transparent;
}

footer {
  padding: 20px 0;
}
footer .footer__credits,
footer .footer__copy {
  color: #c6cef2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 0.8rem;
}
footer .footer__credits span,
footer .footer__copy span {
  margin: 0 5px;
  display: block;
}

.logo {
  position: fixed;
  padding: 24px 8px 8px 8px;
  background-color: #061123;
  left: 64px;
  cursor: pointer;
  border-radius: 0 0 12px 12px;
  transition-property: background-color, padding;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 100;
}
.logo.logo--partial-hidden {
  background-color: rgba(6, 17, 35, 0.7);
  padding: 8px;
}
.logo.logo--partial-hidden:hover {
  padding-top: 24px;
  background-color: #061123;
}
.logo:active {
  padding-top: 28px;
}

@media screen and (max-width: 768px) {
  .logo {
    left: 50%;
    transform: translateX(-50%);
  }
}
body {
  background-color: #141414;
}

.hero-header {
  width: 100%;
  background-image: url(/images/banner-01.png);
  background-size: 1600px;
  background-position: 50% center;
  height: 100vh;
  position: relative;
  max-height: 700px;
  -webkit-animation-name: bg-slide;
  animation-name: bg-slide;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.hero-header__overlay-text {
  position: absolute;
  color: var(--white);
  text-align: right;
  top: 50%;
  right: 48px;
}
.hero-header__overlay-text h1 {
  display: inline;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  background-color: rgb(254, 215, 102);
  white-space: pre-wrap;
  padding-left: 0px;
  line-height: 1.5em;
  box-shadow: -8px 0 0 rgb(254, 215, 102), 8px 0 0 rgb(254, 215, 102);
}
.hero-header__overlay-text .download-button-group {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 8px;
}
.hero-header__overlay-text .download-button-group .download-button {
  position: relative;
  display: grid;
  grid-template: 'icon text' 1em 'icon platform' 1fr/48px auto;
  width: 200px;
  padding: 8px;
  background-color: #141414;
  border-radius: 12px;
  text-decoration: none;
  text-align: left;
}
.hero-header__overlay-text .download-button-group .download-button__icon {
  position: absolute;
  grid-area: icon;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-header__overlay-text .download-button-group .download-button span {
  grid-area: text;
  align-items: center;
  font-size: 0.7rem;
  position: absolute;
  top: 25%;
  color: rgb(254, 215, 102);
  padding-left: 4px;
}
.hero-header__overlay-text .download-button-group .download-button strong {
  grid-area: platform;
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(254, 215, 102);
  padding-left: 4px;
}

@media screen and (max-width: 768px) {
  .hero-header__overlay-text .download-button-group {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: end;
  }
  .hero-header__overlay-text .download-button-group .download-button {
    width: 100%;
    justify-self: end;
  }
}
@-webkit-keyframes bg-slide {
  100% {
    background-position: 30% center;
  }
}
@keyframes bg-slide {
  100% {
    background-position: 30% center;
  }
} /*# sourceMappingURL=download.css.map */
