@font-face {
  font-family: 'LINE Seed Sans TH';
  src: local("LINE Seed Sans TH"), url(//content.ptsgrn.dev/gamertocoder-project/assets/fonts/LINESeedSansTH_W_Th.woff) format("woff"), url(//content.ptsgrn.dev/gamertocoder-project/assets/fonts/LINESeedSansTH_W_Th.woff2) format("woff2"), url(//content.ptsgrn.dev/gamertocoder-project/assets/fonts/LINESeedSansTH_Th.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'LINE Seed Sans TH';
  src: local("LINE Seed Sans TH"), url(//content.ptsgrn.dev/gamertocoder-project/assets/fonts/LINESeedSansTH_W_Rg.woff) format("woff"), url(//content.ptsgrn.dev/gamertocoder-project/assets/fonts/LINESeedSansTH_W_Rg.woff2) format("woff2"), url(//content.ptsgrn.dev/gamertocoder-project/assets/fonts/LINESeedSansTH_Rg.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'LINE Seed Sans TH';
  src: local("LINE Seed Sans TH"), url(//content.ptsgrn.dev/gamertocoder-project/assets/fonts/LINESeedSansTH_W_Bd.woff) format("woff"), url(//content.ptsgrn.dev/gamertocoder-project/assets/fonts/LINESeedSansTH_W_Bd.woff2) format("woff2"), url(//content.ptsgrn.dev/gamertocoder-project/assets/fonts/LINESeedSansTH_Bd.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'LINE Seed Sans TH';
  src: local("LINE Seed Sans TH"), url(//content.ptsgrn.dev/gamertocoder-project/assets/fonts/LINESeedSansTH_W_He.woff) format("woff"), url(//content.ptsgrn.dev/gamertocoder-project/assets/fonts/LINESeedSansTH_W_He.woff2) format("woff2"), url(//content.ptsgrn.dev/gamertocoder-project/assets/fonts/LINESeedSansTH_He.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LINE Seed Sans TH';
  src: local("LINE Seed Sans TH"), url(//content.ptsgrn.dev/gamertocoder-project/assets/fonts/LINESeedSansTH_W_XBd.woff) format("woff"), url(//content.ptsgrn.dev/gamertocoder-project/assets/fonts/LINESeedSansTH_W_XBd.woff2) format("woff2"), url(//content.ptsgrn.dev/gamertocoder-project/assets/fonts/LINESeedSansTH_XBd.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
