@import './reset.css';
@import './fonts.css';
:root {
  --yellow: rgb(254, 215, 102);
  --yellow-secondary: rgba(254, 215, 102, 0.5);
  --black: #141414;
  --black20: #202020;
  --black28: #282828;
  --blue-100: #c6cef2;
  --blue-150: #72bcd5;
  --blue-300: #63a0d7;
  --blue-500: #5386b1;
  --blue-600: #4358a7;
  --blue-700: #1c3667;
  --blue-800: #1a2e5a;
  --blue-900: #061123;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'LineSeedSansTH', sans-serif;
  background-color: #141414;
}

a {
  color: #5386b1;
  -webkit-tap-highlight-color: transparent;
}

footer {
  padding: 20px 0;
}
footer .footer__credits,
footer .footer__copy {
  color: #c6cef2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 0.8rem;
}
footer .footer__credits span,
footer .footer__copy span {
  margin: 0 5px;
  display: block;
}

.logo {
  position: fixed;
  padding: 24px 8px 8px 8px;
  background-color: #061123;
  left: 64px;
  cursor: pointer;
  border-radius: 0 0 12px 12px;
  transition-property: background-color, padding;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 100;
}
.logo.logo--partial-hidden {
  background-color: rgba(6, 17, 35, 0.7);
  padding: 8px;
}
.logo.logo--partial-hidden:hover {
  padding-top: 24px;
  background-color: #061123;
}
.logo:active {
  padding-top: 28px;
}

@media screen and (max-width: 768px) {
  .logo {
    left: 50%;
    transform: translateX(-50%);
  }
}
* {
  padding: 0;
  margin: 0;
  transition: all ease 0.2s;
}

.primary-btn {
  border: none;
  border-radius: 12px;
  padding: 8px;
  border: 2px solid var(--black20);
  background-color: var(--black20);
  color: var(--yellow);
}

.secondary-btn {
  border: none;
  border-radius: 12px;
  padding: 8px;
  border: 2px solid var(--black20);
  background-color: var(--yellow);
  color: var(--black20);
}

a {
  text-decoration: none;
}

.main-title {
  width: 100%;
  height: 100vh;
  background-color: var(--yellow);
  position: relative;
}
.main-title .div-maintitle {
  display: block;
  position: absolute;
  right: 10vw;
  align-items: right;
  justify-items: right;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
}
.main-title .div-maintitle .maintitle--action {
  text-align: right;
  margin-top: 32px;
  right: 0;
}
.main-title .div-maintitle .maintitle--action .primary-btn {
  width: 128px;
  font-size: 24px;
}
.main-title .div-maintitle .maintitle--action .secondary-btn {
  margin-top: 8px;
  width: 128px;
  font-size: 24px;
}
.main-title .div-maintitle h1 {
  text-align: right;
  font-weight: 600;
  font-size: 3rem;
}

.section-featured {
  height: 100vh;
}
.section-featured__container {
  width: 60rem;
  max-width: 80vw;
  margin: 32px auto;
}
.section-featured__container .section-featured-slide__container {
  width: 100%;
  height: 400px;
  background: var(--yellow);
  border-radius: 12px;
  overflow-x: hidden;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  position: relative;
  display: inline-block;
}
.section-featured__container .section-featured-slide__container .slide {
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.section-featured__container .section-featured-slide__container .slide div {
  position: absolute;
  bottom: 0;
  padding: 40px;
}
.section-featured__container .section-featured-slide__container .slide img {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section-featured__container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  -webkit-text-stroke: 1px rgb(254, 215, 102);
  letter-spacing: 8px;
  position: relative;
  margin-left: 32px;
  padding-left: 8px;
}
.section-featured__container h1::after {
  content: '';
  display: block;
  width: 8px;
  height: 32px;
  background-color: rgb(254, 215, 102);
  margin-top: 16px;
  position: absolute;
  top: calc(-50% + 12px);
  left: -24px;
}

@media (max-width: 768px) {
  .main-title .div-maintitle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main-title .div-maintitle h1 {
    text-align: center;
  }
  .main-title .div-maintitle .maintitle--action {
    text-align: center;
  }
}
@supports (-webkit-text-stroke: 1px rgb(254, 215, 102)) {
  .section-featured__container h1 {
    text-shadow: 1px 0 0 rgb(254, 215, 102), -1px 0 0 rgb(254, 215, 102),
      0 1px 0 rgb(254, 215, 102), 0 -1px 0 rgb(254, 215, 102),
      1px 1px 0 rgb(254, 215, 102), -1px -1px 0 rgb(254, 215, 102),
      1px -1px 0 rgb(254, 215, 102), -1px 1px 0 rgb(254, 215, 102);
  }
} /*# sourceMappingURL=home.css.map */
