@import './base.scss';

* {
    padding: 0;
    margin: 0;
    transition: all ease 0.2s;
}


@keyframes bounce {
    0%{
        transform: translateY(-10%);
        
    }
    50%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(-10%);
    }
}

.main-title {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: $gray-800;
    position: relative;

    .maintitle__bg {
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .banner-image {
        &__wrapper {
            display: none;
        }
    }

    &.background--endnless {
        .maintitle__bg {
            display: none;
        }

        .banner-image {
            &__wrapper {
                position: relative;
                display: block;
                height: 100vh;
                width: 100vw;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $yellow-900;
                    opacity: 0.77;
                }
            }

            &__container {
                position: absolute;
                width: 100vw;
                top: 50%;
                transform: translate(-10vh, -50%);

                .row {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    rotate: -9.83deg;

                    .set {
                        display: grid;
                        grid-template-columns: repeat(12, 175px);
                        animation-duration: 50s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                        animation-name: bg-slide-to-left;
                    }

                    &:nth-child(odd) .set {
                        animation-name: bg-slide-to-right;
                    }

                    .entry {
                        width: 150px;
                        height: 150px;
                        background-clip: padding-box;
                        background-color: gray;
                        background-size: cover;
                        margin: 12px;
                        filter: drop-shadow(0px 4px 10px #000000);
                    }
                }
            }
        }
    }

    .div-maintitle {
        display: block;
        position: absolute;
        right: 10vw;
        align-items: right;
        justify-items: right;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;

        .event-badge {
            position: relative;
            left: 100%;
            transform: translateX(-100%);
        }

        .maintitle--action {
            text-align: right;
            margin-top: 32px;
            right: 0;
            color: $yellow;
            animation: bounce 1s ease 0s infinite both;
        }

        img {
            position: relative;
            left: 100%;
            transform: translateX(-100%);
        }

        h1 {
            text-align: right;
            font-weight: 600;
            font-size: 3rem;
            color: var(--yellow);
        }
    }
}

.section-prize{
    max-width: 60vw;
    margin: 64px auto auto auto;
    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $yellow;
        button{
            width: 60px;
            background: transparent;
            color: $yellow;
            border: none;
            cursor: pointer;
        }
        h1{
            font-size: 2.5rem;
            letter-spacing: 4px;
            color: $yellow;
        }
    }
    &__container{
        position: relative;
        display: grid;
        grid-template-columns: repeat(5,200px);
        gap: 10px;
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: both mandatory;
        &::-webkit-scrollbar{
            display: none;
        }
        .no1{
            scroll-snap-align: start;
            background-color: $yellow;
        }
        .no2{
            background-color: $blue-100;
        }
        .card{
            border-radius: 12px;
            padding: 16px;
            width: 200px;
        }
    }
    &__description{
        margin-top: 23px;
        color: white;
    }


}

.section-detail{
    max-width: 60vw;
    margin: 64px auto auto auto;
    h1{
        font-size: 2.5rem;
        letter-spacing: 4px;
        color: $yellow;
    }
    &__container{
        padding: 8px;
        color: white;
        p{
            padding-bottom: 8px;
        }
    }
}
@media (max-width: $breakpoint-tablet) {
    .main-title {
      .div-maintitle {
        top: 50%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
  
        .event-badge {
          position: relative;
          left: 50%;
          transform: translate(-50%);
        }
  
        h1 {
          width: 100%;
          text-align: center;
        }
  
        .maintitle--action {
          text-align: center;
        }
      }
    }
}