@import './base.scss';
* {
  padding: 0;
  margin: 0;
  transition: all ease 0.2s;
}

.primary-btn {
  border: none;
  border-radius: 12px;
  padding: 8px;
  border: 2px solid var(--black20);
  background-color: var(--black20);
  color: var(--yellow);
}
.secondary-btn {
  border: none;
  border-radius: 12px;
  padding: 8px;
  border: 2px solid var(--black20);
  background-color: var(--yellow);
  color: var(--black20);
}

a {
  text-decoration: none;
}

nav {
  z-index: 100000;
  border-radius: 12px;
  color: var(--yellow);
  border: 2px solid var(--yellow);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: var(--black20);
  padding: 4px;
  left: 50%;
  margin-bottom: 32px;
  transform: translateX(-50%);
  position: fixed;
  bottom: 0;
  display: flex;

  .nav-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    list-style: none;
    position: absolute;
    background-color: var(--black20);
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translate(-50%);
    max-width: 400px;
    width: 90vw;
    padding: 8px;
    display: block;
    li {
      border: 4px solid transparent;
      border-radius: 8px;
      padding: 12px;
      a {
        color: var(--yellow);
      }
      div {
        display: flex;
        align-items: center;
        p {
          margin-left: 8px;
        }
      }
    }
    li:hover {
      transition: all ease 0.2s;
      border: 4px solid var(--yellow-secondary);
      .menu-submenu {
        li {
          border: 4px solid transparent;
        }
      }
    }
    .submenu-btn {
      border-radius: 0;
      width: 100%;
      padding: 0;
      margin: 0;
      border: none;
      background: transparent;
      span:last-child {
        position: absolute;
        right: 16px;
      }
    }
    .menu-submenu {
      overflow: hidden;
      border-radius: 12px;
      margin-top: 8px;
      border: 4px solid var(--yellow-secondary);
      background-color: var(--black28);
      list-style: none;
      li {
        display: flex;
        align-items: center;
        p {
          padding-left: 8px;
        }
      }
    }
  }
  .nav-toc {
    border-radius: 8px;
    border: 2px solid var(--yellow);
    margin-left: 4px;
    padding: 4px;
    position: relative;

    .li-selected {
      border-radius: 8px;
      position: absolute;
      height: 100%;
      background-color: var(--yellow-secondary);
      opacity: 0;
    }
    .active {
      opacity: 1;
    }
    a {
      position: relative;
      color: var(--yellow);
      .nav-li-icon {
        margin-right: 8px;
      }

      padding: 8px;
      display: flex;
      align-items: center;
    }

    list-style: none;
    display: flex;
  }

  .nav-goup {
    margin-left: 4px;
  }

  button {
    border-radius: 8px;
    color: var(--yellow);
    background-color: var(--black28);
    border: 2px solid var(--yellow);
    display: flex;
    align-items: center;
    padding: 8px;
  }
  .nav--primary-btn:hover {
    color: var(--black20);
    background-color: var(--yellow);
  }
}

.main-title {
  width: 100%;
  height: 100vh;
  background-color: var(--yellow);
  position: relative;

  .div-maintitle {
    display: block;
    position: absolute;
    right: 10vw;
    align-items: right;
    justify-items: right;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    .maintitle--action {
      text-align: right;
      margin-top: 32px;
      right: 0;

      .primary-btn {
        width: 128px;
        font-size: 24px;
      }
      .secondary-btn {
        margin-top: 8px;
        width: 128px;
        font-size: 24px;
      }
    }
    h1 {
      text-align: right;
      font-weight: 600;
      font-size: 3rem;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  nav {
    .nav-toc {
      display: none;
    }
    .nav-menu {
      li {
        padding: 12px;
      }
    }
  }

  .main-title {
    .div-maintitle {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h1 {
        text-align: center;
      }
      .maintitle--action {
        text-align: center;
      }
    }
  }
}
