* {
  padding: 0;
  margin: 0;
  transition: all ease 0.2s;
}

a {
  text-decoration: none;
}

nav {
  border-radius: 12px;
  color: var(--yellow);
  border: 2px solid var(--yellow);
  background-color: var(--black20);
  padding: 4px;
  .nav-menu {
    border-radius: 12px;
    list-style: none;
    position: absolute;
    background-color: var(--black20);
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translate(-50%);
    max-width: 400px;
    width: 90vw;
    padding: 8px;
    display: block;
    li {
      padding: 8px;
    }
    .menu-submenu {
      border-radius: 12px;
      margin-top: 8px;
      background-color: var(--black28);
      list-style: none;
    }
  }
  .nav-toc {
    border-radius: 8px;
    border: 2px solid var(--yellow);
    margin-left: 4px;
    padding: 4px;
    position: relative;

    .li-selected {
      border-radius: 8px;
      position: absolute;
      height: 100%;
      background-color: var(--yellow-secondary);
      opacity: 0;
    }
    .active {
      opacity: 1;
    }
    li {
      position: relative;

      .nav-li-icon {
        margin-right: 8px;
      }

      padding: 8px;
      display: flex;
      align-items: center;
    }

    list-style: none;
    display: flex;
  }

  button {
    border-radius: 8px;
    color: var(--yellow);
    background-color: var(--black28);
    border: 2px solid var(--yellow);
    display: flex;
    align-items: center;
    padding: 8px;
  }

  left: 50%;
  margin-bottom: 32px;
  transform: translateX(-50%);
  position: fixed;
  bottom: 0;
  display: flex;
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  nav {
    .nav-toc {
      display: none;
    }
  }
}
