* {
  padding: 0;
  margin: 0;
  transition: all ease 0.2s;
}

.primary-btn {
  border: none;
  border-radius: 12px;
  padding: 8px;
  border: 2px solid var(--black20);
  background-color: var(--black20);
  color: var(--yellow);
}

.secondary-btn {
  border: none;
  border-radius: 12px;
  padding: 8px;
  border: 2px solid var(--black20);
  background-color: var(--yellow);
  color: var(--black20);
}

a {
  text-decoration: none;
}

nav {
  z-index: 100000;
  border-radius: 12px;
  color: var(--yellow);
  border: 2px solid var(--yellow);
  background-color: var(--black20);
  padding: 4px;
  left: 50%;
  margin-bottom: 32px;
  transform: translateX(-50%);
  position: fixed;
  bottom: 0;
  display: flex;
}
nav .nav-menu {
  border-radius: 12px;
  list-style: none;
  position: absolute;
  background-color: var(--black20);
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translate(-50%);
  max-width: 400px;
  width: 90vw;
  padding: 8px;
  display: block;
}
nav .nav-menu li {
  border: 4px solid transparent;
  border-radius: 8px;
  padding: 12px;
}
nav .nav-menu li a {
  color: var(--yellow);
}
nav .nav-menu li div {
  display: flex;
  align-items: center;
}
nav .nav-menu li div p {
  margin-left: 8px;
}
nav .nav-menu li:hover {
  transition: all ease 0.2s;
  border: 4px solid var(--yellow-secondary);
}
nav .nav-menu li:hover .menu-submenu li {
  border: 4px solid transparent;
}
nav .nav-menu .submenu-btn {
  border-radius: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}
nav .nav-menu .submenu-btn span:last-child {
  position: absolute;
  right: 16px;
}
nav .nav-menu .menu-submenu {
  overflow: hidden;
  border-radius: 12px;
  margin-top: 8px;
  border: 4px solid var(--yellow-secondary);
  background-color: var(--black28);
  list-style: none;
}
nav .nav-menu .menu-submenu li {
  display: flex;
  align-items: center;
}
nav .nav-menu .menu-submenu li p {
  padding-left: 8px;
}
nav .nav-toc {
  border-radius: 8px;
  border: 2px solid var(--yellow);
  margin-left: 4px;
  padding: 4px;
  position: relative;
  list-style: none;
  display: flex;
}
nav .nav-toc .li-selected {
  border-radius: 8px;
  position: absolute;
  height: 100%;
  background-color: var(--yellow-secondary);
  opacity: 0;
}
nav .nav-toc .active {
  opacity: 1;
}
nav .nav-toc a {
  position: relative;
  color: var(--yellow);
  padding: 8px;
  display: flex;
  align-items: center;
}
nav .nav-toc a .nav-li-icon {
  margin-right: 8px;
}
nav button {
  border-radius: 8px;
  color: var(--yellow);
  background-color: var(--black28);
  border: 2px solid var(--yellow);
  display: flex;
  align-items: center;
  padding: 8px;
}

section {
  width: 100%;
  height: 100vh;
  background-color: var(--yellow);
  position: relative;
}
section .section-maintitle {
  display: block;
  position: absolute;
  right: 10vw;
  align-items: right;
  justify-items: right;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
}
section .section-maintitle .maintitle--action {
  text-align: right;
  margin-top: 32px;
  right: 0;
}
section .section-maintitle .maintitle--action .primary-btn {
  width: 128px;
  font-size: 24px;
}
section .section-maintitle .maintitle--action .secondary-btn {
  width: 128px;
  font-size: 24px;
}
section .section-maintitle h1 {
  text-align: right;
  font-weight: 600;
  font-size: 3rem;
}

@media (max-width: 768px) {
  nav .nav-toc {
    display: none;
  }
  nav .nav-menu li {
    padding: 12px;
  }
}
